<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <figure id="logo" class="col s12 m4 left brand-logo" data-hook>
          <%= logo img_options: {width: '200'} %>
        </figure>
        <p>
          In here goes some great information!
        </p>
      </div>
      <div class="col l2 s6">
        <ul>
          <h4>Contact</h4>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Snapchat</li>
          <li>Email</li>
        </ul>
      </div>
      <div class="col l2 s6">
        <ul>
          <h4>Other links</h4>

          <li>LulaRoe</li>

        </ul>
      </div>
      <div class="col l2 s12">
        <ul>
          <h4>Made possible by</h4>
          <li><%= link_to 'Brian Fonkert', 'https://www.linkedin.com/in/brian-fonkert'%></li>
          <li><%= link_to 'Raphael Baltazar', 'https://www.linkedin.com/in/raphael-baltazar/'%></li>
          <li><%= link_to 'Oscar Flores','https://www.linkedin.com/in/os-flores/' %></li>
          <li><%= link_to 'Trent Morgan', 'https://www.linkedin.com/in/trent-m-80a237129/' %></li>
          <li><%= link_to 'Frank Martinez','https://www.linkedin.com/in/frank-martinez-1a8b499a/'%></li>
          <li><%= link_to 'Raymond Nguyen', 'https://www.linkedin.com/in/rnguyen4/'%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="left">2018 Copyright stuff</p>
      <p class="right"><%= t 'spree.powered_by' %> <%= link_to 'Solidus', 'http://solidus.io/' %></p>
    </div>
  </div>
</footer>
