<footer id="footer" class="footer text-center text-md-left">
  <div>
    <div class="row container-fluid">
      <div class="col-sm-6">
        <figure id="logo" class="left brand-logo" data-hook>
          <%= logo img_options: {width: '200'} %>
        </figure>
        
      </div>
      
      <div class="col-sm-6">
        <ul class="list-unstyled">
          <h4>Made possible by</h4>
          <li><%= link_to 'Brian Fonkert', 'https://www.linkedin.com/in/brian-fonkert'%></li>
          <li><%= link_to 'Raphael Baltazar', 'https://www.linkedin.com/in/raphael-baltazar/'%></li>
          <li><%= link_to 'Oscar Flores','https://www.linkedin.com/in/os-flores/' %></li>
          <li><%= link_to 'Trent Morgan', 'https://www.linkedin.com/in/trent-m-80a237129/' %></li>
          <li><%= link_to 'Frank Martinez','https://www.linkedin.com/in/frank-martinez-1a8b499a/'%></li>
          <li><%= link_to 'Raymond Nguyen', 'https://www.linkedin.com/in/rnguyen4/'%></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="left">2018 Copyright stuff</p>
      <p class="right"><%= t 'spree.powered_by' %> <%= link_to 'Solidus', 'http://solidus.io/' %></p>
    </div>
  </div>
</footer>