<nav class=" nav-extended">

  <div class="nav-wrapper">

       <%= logo img_options: {class: "brand-logo responsive-img right"}%>

     <ul id="nav-mobile" class="left hide-on-small-only">

       <li id="search-bar" data-hook>
         <%= render partial: 'spree/shared/search' %>
       </li>

      <li>
        <%= render 'spree/shared/login_bar_items' %>
      </li>

      <li id="home-link" data-hook>
        <%= link_to spree.root_path do%>
         <%= t('spree.home')%>
          <i class="small left material-icons">home</i>
        <%end%>
      </li>

      </ul>

  </div>
  <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
</nav>
